# =========================

# ROS2 / Colcon

# =========================

build/
install/
log/

marine_ws/build/
marine_ws/install/
marine_ws/log/

COLCON_IGNORE

# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# Gazebo / Simulation

# =========================

*.log
*.pcd
.gazebo/

# =========================

# IDEs

# =========================

.vscode/
.idea/

# =========================

# OS Files

# =========================

.DS_Store
Thumbs.db
*~
